## Build outputs
bin/
obj/

## IDE and editor-specific files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
**/Properties/PublishProfiles/

# Sensitive configuration files
appsettings.json
appsettings.*.json

# User uploaded attachments
wwwroot/attachments/

## OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
appsettings.Production.json